<section class='login'>
  <h4>Welcome back, login</h4>
  <form action='/account/login' method='post'>
  <input type="text" name="username" placeholder="username">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value "login"></input>
</section>

<section class='register'>
  <h4>Want to register?</h4>
  <form action='/account/register' method='post'>
    <input type="text" name="first_name" placeholder="first name" />
    <input type="text" name="last_name" placeholder="last name" />
    <input type="text" name="username" placeholder="username" />
    <input type="email" name="email" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <select name="liberal">
        <option type="text" value="aljazeera">aljazeera</option>
        <option type="text" value="slate">slate</option>
    </select>
    <select name="moderate">
        <option type="text" value="bbc">bbc</option>
        <option type="text" value="reuters">reuters</option>
    </select>
    <select name="conservative">
        <option type="text" value="breitbart">breitbart</option>
        <option type="text" value="the_blaze">the blaze</option>
    </select>
    <input type="submit" value="register"></input>
  </form>
</section>
























<!--<style>
.form-horizontal{
  max-width: 300px;
  margin-left: 20px;
}
</style>
<section class='login' style="margin-left:20px">

  <form class="form-horizontal" action="/account/login" method="post">
      <h4>Login</h4>
      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
  </form>
</section>
<br><br>
<section class='register' style="margin-left:20px">
  <form class="form-horizontal" action="/account/register" method="post">
    <h4>Register</h4>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="Liberal">Liberal Choice</label>
      <select class="form-control" id="liberal">
        <option>Select One</option>
        <option>Huffington Post</option>
        <option>Slate</option>
        <option>Al Jazeera</option>
        <option>NY Times</option>
        <option>Washington Post</option>
        <option>Mother Jones</option>
      </select>
      </div>
      <div class="form-group">
        <label for="Moderate">Moderate Choice</label>
      <select class="form-control" id="Moderate">
        <option>Select One</option>
        <option>bbc</option>
        <option>NPR</option>
        <option>NPR</option>
        <option>Wall Street Journal</option>
        <option>Google News</option>
      </select>
      </div>
      <div class="form-group">
        <label for="Conservative">Conservative Choice</label>
      <select class="form-control" id="Convervative">
        <option>Select One</option>
        <option>Breitbart</option>
        <option>Fox</option>
        <option>The Blaze</option>
      </select>
      </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
</section>-->
